* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: #0f0139;
    color: #1a01ff;
}

/* Global Stylesheet (main.css) */
.page-container {
    /* Set up a grid with two columns */
    display: grid;
    /* Define the column widths: Sidebar (250px) and Main Content (fill the rest) */
    grid-template-columns: 250px 1fr; 
    min-height: 100vh; /* Ensure it takes full viewport height */
}

.sidebar-menu {
    /* Place it in the first column */
    grid-column: 1 / 2; 
    background-color: #070012; /* Light background to visually separate it */
    padding: 20px;
    border-right: 1px solid #080034;
}

.main-content {
    /* Place it in the second column */
    grid-column: 2 / 3;
    padding: 40px;
}

/* Header styling */
header {
    display: flex;
    justify-content: center; /* Centering logo */
    align-items: center;
    padding: 20px;
    background-color: #230067;
    position: relative; /* Make header relative for positioning of the lofi button */
}

.PES {
    color: #fa7900;
  font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
}

.to {
    color: #fbf4ef;
  font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
}

/* Greeting Section */
h2 {
    margin: 25px;
    font-size: 2.2rem;
}

/* Main Content */
.content {
    margin: 30px;
    font-size: 2.2rem;
  font-family: 'Chakra Petch', sans-serif;
}

.heading {
    font-size: 2.2rem;
    margin: 20px;
    margin-bottom: 20px;
}

/* Course Links */
.year-link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #bda5fa;
    font-size: 2.2rem;
}

h3 {
    margin-top: 20px;
}

.courses {
    margin-left: 20px;
}

/* Button Styling */
button.toggle-btn {
    background: #342e6c;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 8px; 
    transition: background 0.3s, color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
}

button.toggle-btn:hover {
    background: #405084;
    color: #ff6e00;
    transform: scale(1.05); 
}

button.toggle-btn:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(64, 80, 132, 0.6); 
}

/* Lofi Player Button */
.lofi-button {
    background-color: #4421f4;
    color: #121212;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 2.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute; /* Position the button at the top-right of the header */
    top: 25px;
    right: 20px;
}

.lofi-button:hover {
    background-color: #64b2ac;
    transform: scale(1.05);
}

/* Audio player controls (hidden by default) */
audio {
    display: none;
}


.lofi-playing {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
